
[
  {kernel,
    [
      % other kernel config…
      {logger, [
        % use the standard handler with our own formatter settings
        {handler, default, logger_std_h,
          #{   % handler config
            level     => info,
            formatter => {logger_formatter, #{formatter_config => [
            {format, "$date $time [$level] $message\n"},   % your template
            {colors, #{info    => green,
              warning => yellow,
              error   => red,
              debug   => blue}}
          ]}}
          }
        }
      ]}
    ]
  }
].
